<div class="m-search-term-map">
	<a href="/search/popular/{{type}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<script>
		var popularData = {
			term: "{{title}}",
			data: [
				{{#each data}}
					{"country": "{{{this.country}}}", "value": {{{this.searches}}} }
					
					{{#unless @last}},{{/unless}}
				{{/each}}
			]
		} 
	</script>	
	<div class="m-search-term-map-container">

	</div>
</div>