<head>
	<title>{{metadata.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	
	<!-- build:css /style.css -->
	<link type="text/css" rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"/>
	<link type="text/css" rel="stylesheet" href="/generated/css/style.css"/>
	<!-- endbuild -->
	
	{{{block 'pageStyles'}}}
</head>	