<div class="m-popular-bar-chart">
	<div class="m-popular-bar-chart-container">
		<script>
			var popularData = {
				points: [
					{{#each barChartData}}
						{{this.[1]}}
						{{#unless @last}},{{/unless}}
					{{/each}}
				],
				team: [
					{{#each barChartData}}
						"{{{this.[0]}}}"
						{{#unless @last}},{{/unless}}
					{{/each}}
				],
			} 
		</script>
	</div>
</div>