<div class="m-league-position-difference-bar-chart">
	<div class="m-league-position-difference-bar-chart-container">
		<script>
			var leaguePositionDifference= {
				points: [{{#each league.teams}}{{this.total}}{{#unless @last}},{{/unless}}{{/each}}],
				team: [{{#each league.teams}}"{{{this.team}}}"{{#unless @last}},{{/unless}}{{/each}}],
			} 
		</script>
	</div>
</div>