/*
 * layout sidebar
 */
.l-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -80%;
  z-index: 1000;
  display: block;
  width: 80%;
  padding: 0 20px;
  overflow-x: visible;
  overflow-y: visible;
  background: linear-gradient(135deg, #000000 0%, #000000 100%);
  transition: left 500ms ease-in-out;
}
.l-sidebar.is-visible {
  left: 0;
}
@media (min-width: 992px) {
  .l-sidebar {
    left: auto;
    width: 16.66666667%;
  }
}
/*
 * Layout main content
 */
.l-main {
  min-height: 100%;
  text-align: center;
}
/*
  login
*/
/*
  Views
*/
.l-homepage {
  background: linear-gradient(135deg, #000000 0%, #000000 100%);
  background-attachment: fixed;
}
.l-homepage-box {
  display: block;
  width: 300px;
  margin: 0 auto;
}
/*
	Colours
*/
/*
 Type
*/
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  min-height: 100%;
  font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #333333;
}
.container-fluid {
  padding: 0;
}
.glyphicon-ok {
  display: none;
}
.glyphicon-chevron-left {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  margin-top: -32px;
  font-size: 65px;
  color: #666666;
}
.row {
  margin: 0;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  color: white;
}
a:hover,
a:focus {
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
.m-search {
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-right: 2px solid white;
}
.m-search:focus {
  outline: none;
}
.m-search.is-focus {
  border-right: none;
}
.nav {
  text-transform: uppercase;
  border-top: 1px solid #666666;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.list {
  text-align: left;
  text-transform: uppercase;
}
.list li {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid white;
}
.list li:last-child {
  border: none;
}
.list span {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
.large-number {
  font-size: 160px;
  color: #000000;
}
.medium-number {
  font-size: 80px;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 14px;
}
h2 {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid white;
  opacity: 0.4;
}
.l-search-term h2 {
  opacity: 1;
  border-right: 2px solid white;
  border-left: none;
}
/*
  Dashboard borders
*/
@media (min-width: 1200px) {
  .l-main .row {
    overflow: hidden;
    border-bottom: 3px solid #ffffff;
  }
  .l-main .row > div:last-child:after {
    position: absolute;
    top: 0;
    width: 2px;
    height: 1000%;
    content: '';
    background-color: #ffffff;
  }
  .l-main .row > div:first-child:after {
    display: none;
  }
  .l-main .row:last-child {
    border-bottom: none;
  }
}
/*
  Forms
*/
.form-control {
  border: none;
  border-radius: 0;
}
/*
  Buttons
*/
.btn-default {
  background-color: transparent;
  border-color: #000000;
}
.btn-default:hover {
  background-color: transparent;
}
/*
  Panel
*/
.panel {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*
  List group;
*/
.list-group-item {
  margin: 0;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.list-group-item:first-child {
  border-top: none;
}
.list-group-item:last-child {
  border-bottom: none;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
.is-active .glyphicon-ok {
  display: inline;
}
.widget {
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .widget {
    padding: 40px;
  }
}
.widget h2 {
  font-size: 16px;
}
.widget img {
  display: inline-block;
}
.widget .btn {
  float: right;
}
.widget-graph {
  min-height: 400px;
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .widget-graph {
    padding: 40px;
  }
}
.widget-graph h2 {
  font-size: 16px;
}
.widget-graph img {
  display: inline-block;
}
.widget-graph .btn {
  float: right;
}
.badge-trend {
  width: 20px;
  height: 20px;
  font-size: 0;
  border-radius: 0;
}
.m-search-term-map {
  position: relative;
  min-height: 400px;
  margin: 100px 0;
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .m-search-term-map {
    padding: 40px;
  }
}
.m-search-term-map h2 {
  font-size: 16px;
}
.m-search-term-map img {
  display: inline-block;
}
.m-search-term-map .btn {
  float: right;
}
.m-search-term-map-tooltip {
  font-size: 14px;
}
.m-popular-bar-chart {
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .m-popular-bar-chart {
    padding: 40px;
  }
}
.m-popular-bar-chart h2 {
  font-size: 16px;
}
.m-popular-bar-chart img {
  display: inline-block;
}
.m-popular-bar-chart .btn {
  float: right;
}
/*# sourceMappingURL=style.css.map */