@import "variables";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: @f11-headings-font-family;
  color: white;
  background-color: @bg;
}

.container-fluid {
  padding: 0;
}

.glyphicon-ok {
  display: none;
}

.glyphicon-chevron-left {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  margin-top: -32px;
  font-size: 65px;
  color: @mapBg;
}

.row {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: white;
  &:hover, &:focus {
    color: white;
  }
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.m-search {
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-right: 2px solid white;
  &:focus {
    outline: none;
  }
  &.is-focus {
    border-right: none;
  }
}

.nav {
  text-transform: uppercase;
  border-top: 1px solid @mapBg;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}


.list {
  text-align: left;
  text-transform: uppercase;
  li {
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid white;
    &:last-child {
      border: none;
    }
  }
  span {
    float: right;
  }
}
