<div class="m-utilities-social">
	<h2>Social</h2>
	<ul class="m-utilities-social-list list-inline">
		<li class="m-utilities-social-list-item"><a href=""><img class="m-nav-icon" src="http://placehold.it/50&text=TW" alt=""></a></li>
		<li class="m-utilities-social-list-item">
			<a href="https://www.facebook.com/pages/Final-Eleven/1543716742528568">
				<img class="m-nav-icon" src="http://placehold.it/50&text=FB" alt="">
			</a>
		</li>
	</ul>	
</div>