<button id="m-nav-toggle" class="m-nav-toggle">menu</button>

<div class="m-nav">
	<img class="m-nav-logo" src="http://placehold.it/200&text=final+eleven" alt="">

	{{> manager/profile/profile}}

	<ul class="nav">
		<li class="m-nav-item active">
			<a href="#">
				<img class="m-nav-icon" src="http://placehold.it/50" alt="">
				<span class="m-nav-icon-label">My</span>
			</a>
		</li>
		<li class="m-nav-item">
			<a href="#">
				<img class="m-nav-icon" src="http://placehold.it/50" alt="">
				<span class="m-nav-icon-label">Ficture List</span>
			</a>
		</li>
		<li class="m-nav-item">
			<a href="#">
				<img class="m-nav-icon" src="http://placehold.it/50" alt="">
				<span class="m-nav-icon-label">Leagues</span>
			</a>
		</li>
	</ul>

	{{> utilities/countdown/countdown}}
</div>