{{!< default}}

<div class="row">
	<div class="col-sm-12 col-md-12">
		{{> league/table/table}}
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12">
		{{> league/positionDifferenceBarChart/positionDifferenceBarChart}}
	</div>
</div>
