{{!< default}}

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-6">
		{{> manager/points/points}}
	</div>
	<div class="col-sm-12 col-md-12 col-lg-6">
		{{> manager/leagues/leagues}}
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12">
		{{> manager/pointsHistoryLineChart/pointsHistoryLineChart}}
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-6">
		{{> manager/teamValueCircleChart/teamValueCircleChart}}
	</div>
	<div class="col-sm-12 col-md-12 col-lg-6">
		{{> utilities/feedbackForm/feedbackForm}}
		{{> utilities/social/social}}
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12">
		{{> manager/transferHistoryBarChart/transferHistoryBarChart}}
	</div>
</div>