<html>
  {{> pageHead}}
  <body class="l-{{template}}">
    <h1>NET-A-PORTER</h1>
  	<div class="container-fluid">
  		<div class="row">
		  	<div class="col-sm-12 l-main">
		  		{{{body}}}
		  	</div>  					
  		</div>
  	</div>

    {{> scripts}}
    {{> tracking}}

  </body>
</html>